.scrollbar-small {
  &::-webkit-scrollbar{
    width: 4px;
  }
}
.scrollbar-large {
  &::-webkit-scrollbar {
    width: 12px;
  }
}
.scrollbar-dark {
  &::-webkit-scrollbar-thumb{
    background-color: rgba(#fff, 0.05);
  }
}
.scrollbar-round {
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
  }
}

.not-scrolling {
  overflow: hidden !important;
}